<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NuevoAlquilerServlet</servlet-name>
        <servlet-class>controlador.NuevoAlquilerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaPersonaServlet</servlet-name>
        <servlet-class>controlador.NuevaPersonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaHabitacionServlet</servlet-name>
        <servlet-class>controlador.NuevaHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarServlet</servlet-name>
        <servlet-class>controlador.ListarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuevoAlquilerServlet</servlet-name>
        <url-pattern>/NuevoAlquilerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaPersonaServlet</servlet-name>
        <url-pattern>/NuevaPersonaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaHabitacionServlet</servlet-name>
        <url-pattern>/NuevaHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarServlet</servlet-name>
        <url-pattern>/ListarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
